

body {
    background-color: rebeccapurple;
    background-image: url("temp2.jpg");
    background-size: cover;
    color: lavenderblush;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-family:'Times New Roman';
    position: static;
    width: 1000px;
    height: 600px;
    background-color: #f4f8f5;
    padding: 70px 50px;
}
form{
    background-color:forestgreen;

}


.row {
    font-style: italic;
    align-content: center;
    align-items: center;
    color: black;
    text-decoration-color: black;
}

.h1 {
    font-style:oblique;
    color: black;
    text-align: center;
    text-justify: auto;
}
